[general]
#relative to the current config file folder with subfolders containing the handlers
folder_with_handlers = Handlers

default_module_name = DefaultHandler
#relative to the current config file folder with subfolders containing the default handler
#change for Win or Linux
#Win
default_module_filepath = Handlers/DefaultHandler.py

#Linux
#default_module_filepath = Handlers\DefaultHandler.py

